peewee == 3.18.2
flask == 3.1.2
python-dotenv == 1.1.1
requests == 2.32.5
pandas == 2.3.2
statsmodels == 0.14.5
scikit-learn == 1.7.2
backtrader[plotting] == 1.9.78.123

#stat group TODO
#pip install dotenv

#AI group TODO
#pip install newspaper3k
#pip install lxml_html_clean
#pip install --upgrade openai
#pip install pytest
#pip install fastapi uvicorn ------> to run it type, uvicorn backend.main:app --reload.
#Interactive API docs(easy UI) http://127.0.0.1:8000/docs
